body {
    background-image: url("https://c0.wallpaperflare.com/preview/852/370/553/bad-weather-clouds-dark-dark-green.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}

.App {
    max-width: 600px;
    margin: 30px auto;
   }

.App footer {
    text-align: center;
    font-size: 0.8rem;
    margin: 10px 0;
}

.App footer a {
    color: rgb(255, 251, 14);
    text-decoration: none;
}

.App footer a:hover {
    text-decoration: underline;
}

