.Weather {
    border: 1px solid #dadde1;
    padding: 16px;
    margin: 30px auto;
    max-width: 600px;
    font-family: Arial, sans-serif;
    border-radius: 8px;
}

.Weather h1 {
    line-height: 20px;
    font-weight: 100;
    font-size: 1.5rem;
    margin: 20px 0 6px 0;
}

.Weather .temperature {
    font-weight: 500;
    color: white;
    font-size: 5.4rem;
    line-height: 64px;
}

.Weather .unit {
    color:white;
    font-size: 1.6rem;
    font-weight: 400;
    position: relative;
    line-height: 1;
    top: -42px;
    margin-left: 5px;
} 

.Weather .search-button {
    background-color: #354426;
    color: white;
    transition: 150ms;
}

.Weather .search-button:hover {
    background-color: #5c7a3b;
}

