.Weather {
    border: 1px solid #dadde1;
    color: rgb(135,135,135);
    padding: 16px;
    margin: 30px auto;
    max-width: 600px;
    font-family: Arial, sans-serif;
    border-radius: 4px;
}

.Weather h1 {
    line-height: 20px;
    font-weight: 100;
    font-size: 1.5rem;
    margin: 20px 0 6px 0;
}

.Weather ul{
    padding: 0;
    margin: 0;
}

.Weather li {
    font-size: 1rem;
    font-weight: 100;
    line-height: 19px;
    list-style: none;
}

.Weather .temperature {
    font-weight: 570;
    color: rgb(33,33,33);
    font-size: 4rem;
    line-height: 64px;
}

.Weather canvas {
    margin-right: 10px;
    height: 52px;
    width: 52px;
}

.Weather .unit {
    color: rgb(33, 33,33);
    font-size: 1rem;
    font-weight: 400;
    position: relative;
    line-height: 1;
    top: -32px;
    margin-left: 5px;
} 

