.WeatherForecast {
    -webkit-backdrop-filter: blur(4px);
    backdrop-filter: blur(4px);
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.2);
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.2);
    border-radius: 12px;
    text-align: center;
    margin-top: 14px;
    margin-bottom: 14px;
    padding: 14px;

}

.WeatherForecast-day {
    text-align: center;
    margin-bottom: 13px;
}

.WeatherForecast-temperature-min {
    opacity: 0.7;
    margin-left: 5px;
}

.WeatherForecast-temperature {
    margin-top: 12px;
}