.WeatherForecast {
    text-align: center;
    margin-top: 14px;
    margin-bottom: 14px;
}

.WeatherForecast-day {
    text-align: center;
    margin-bottom: 10px;
}

.WeatherForecast-temperature-min {
    opacity: 0.7;
    margin-left: 5px;
}